div#leftdiv{
    position: absolute;
    left: 0px;
    top: 60px;
    height: 657px;
    background-color: gray;
    width: 150px;
    float: left;
}

div#radius{
    position: absolute;
    left: 45px;
    top: 90px;
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
}

font#logo{
    display: block;
    padding-left:17px;
    padding-top: 20px;
}

font#name{
    display: block;
    padding-left: 50px;
    padding-top: 200px;
    font-size: 40px;
}

font#assure {
    display: block;
    padding-left: 200px;
    padding-top: 100px;
    float: left;
}

hr#assureline{
    position: absolute;
    left: 205px;
    top:  125px;
    width: 70px;
}

hr#boundary{
    position: absolute;
    top: 170px;
    left: 150px;
    width: 1200px;
    height: 23px;
    background-color:darkcyan;
}

font#oldpaw{
    position: absolute;
    left: 200px;
    top: 250px;
}
input#oldpaw{
    position: absolute;
    top: 250px;
    left: 280px;
}
font#enteroldpaw{
    position: absolute;
    left: 300px;
    top: 250px;
    font-size: 11px;
}
font#newpaw{
    position: absolute;
    left: 200px;
    top: 300px;
}
input#newpaw{
    position: absolute;
    left: 280px;
    top: 300px;
}
font#enternewpaw{
    position: absolute;
    left: 300px;
    top: 300px;
    font-size: 11px;
}
font#assurepaw{
    position: absolute;
    left: 200px;
    top: 350px;
}
input#assurepaw{
    position: absolute;
    left: 280px;
    top: 350px;
}
input#set{
    position: absolute;
    left: 150px;
    top: 430px;
    width: 75px;
}
input#cancel{
    position: absolute;
    left: 250px;
    top: 430px;
    width: 75px;
}
hr#afterassure{
    position: absolute;
    left: 75px;
    top: 500px;
    border-color: gray;
    width: 1200px;
    border: 1px dashed gray;
}
input#returnlist{
    position: absolute;
    left: 1000px;
    top: 600px;
}
input#returnmap{
    width: 115px;
    position: absolute;
    left: 1150px;
    top: 600px;
}

